@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('./quicksand-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./quicksand-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./quicksand-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./quicksand-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./quicksand-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./quicksand-v19-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  }