//include ../../blocks/input/input.pug

mixin text-field(labelText, textPlaceholder, options, pattern)
    .text-field
        //+input(labelText, textPlaceholder, 'text').field-text__input
        label(class="label text-field__label-input")= labelText
            input(class="text-field__text-input" placeholder= textPlaceholder type="text" #{$options} pattern= pattern)
        