mixin radio-button(labelText, nameInput, idInput)
    .radio-button
        input(class="radio-button__radio" type="radio" id= idInput  name= nameInput)
        label(class="radio-button__label-radio text" for= idInput)= labelText