mixin checkbox-button(labelText, nameInput, idInput)
    .checkbox-button
        input(class="checkbox-button__checkbox" type="checkbox" id= idInput  name= nameInput)
        label(class="checkbox-button__label-checkbox text" for= idInput)= labelText