mixin toggle(textLabel, idToggle)
    .toggle
        .div
            input.toggle__input(type = "checkbox" id= idToggle)
            label.toggle__button(for= idToggle) 
        .toggle__label.text= textLabel

